<% content_for :title, "查看服务器" %>

<h1 class="text-myBlue">
  查看服务器
  <div class="pull-right">
    <a href="<%= edit_server_path(@server) %>" class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i> 修改</a>
    <a href="<%= servers_path %>" class="btn btn-sm btn-link"><i class="fa fa-arrow-circle-o-left"></i> 返回</a>
  </div>
</h1>

<div class="detail">

  <div class="row">
    <label class="col-sm-2">服务器名：</label><p class="col-sm-10"><%= @server.name %></p>
  </div>
  <div class="row">
    <label class="col-sm-2">操作系统：</label><p class="col-sm-10"><%= @server.os %></p>
  </div>
  <div class="row">
    <label class="col-sm-2">IP地址：</label><p class="col-sm-10"><%= @server.ip %></p>
  </div>
  <div class="row">
    <label class="col-sm-2">iLO地址：</label><p class="col-sm-10"><%= @server.ilo %></p>
  </div>
  <div class="row">
    <label class="col-sm-2">SN号：</label><p class="col-sm-10"><%= @server.sn %></p>
  </div>
  <div class="row">
    <label class="col-sm-2">服务到期日期：</label><p class="col-sm-10"><%= @server.service_expired_day %></p>
  </div>
  <div class="row">
    <label class="col-sm-2">品牌：</label><p class="col-sm-10"><%= @server.brand %></p>
  </div>
  <div class="row">
    <label class="col-sm-2">型号：</label><p class="col-sm-10"><%= @server.model %></p>
  </div>
  <div class="row">
    <label class="col-sm-2">操作系统：</label><p class="col-sm-10"><%= @server.os %></p>
  </div>
  <div class="row">
    <label class="col-sm-2">CPU：</label><p class="col-sm-10"><%= @server.cpu %></p>
  </div>
  <div class="row">
    <label class="col-sm-2">内存：</label><p class="col-sm-10"><%= @server.ram %></p>
  </div>
  <div class="row">
    <label class="col-sm-2">本机硬盘：</label><p class="col-sm-10"><%= @server.local_disk %></p>
  </div>
  <div class="row">
    <label class="col-sm-2">安装地点：</label><p class="col-sm-10"><%= @server.place %></p>
  </div>
  <div class="row">
    <label class="col-sm-2">安装具体位置：</label><p class="col-sm-10"><%= @server.position %></p>
  </div>
  <% if @server.function.present? %>
    <div class="row">
      <label class="col-sm-2">服务器用途：</label><p class="col-sm-10"><%= @server.function %></p>
    </div>
  <% end %>
  <% if @server.remark.present? %>
    <div class="row">
      <label class="col-sm-2">备注：</label><p class="col-sm-10"><%= @server.remark %></p>
    </div>
  <% end %>
  <div class="row">
    <label class="col-sm-2">创建者：</label><p class="col-sm-10"><%= @server.user.name %></p>
  </div>

</div>
