<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @server.ip %>
</p>

<p>
  <strong>Ilo:</strong>
  <%= @server.ilo %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @server.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @server.model %>
</p>

<p>
  <strong>Sn:</strong>
  <%= @server.sn %>
</p>

<p>
  <strong>Cup:</strong>
  <%= @server.cup %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @server.ram %>
</p>

<p>
  <strong>Local disk:</strong>
  <%= @server.local_disk %>
</p>

<p>
  <strong>Os:</strong>
  <%= @server.os %>
</p>

<p>
  <strong>Place:</strong>
  <%= @server.place %>
</p>

<p>
  <strong>Position:</strong>
  <%= @server.position %>
</p>

<p>
  <strong>Service expired day:</strong>
  <%= @server.service_expired_day %>
</p>

<p>
  <strong>Function:</strong>
  <%= @server.function %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @server.remark %>
</p>

<p>
  <strong>User:</strong>
  <%= @server.user_id %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
