<%= provide :title, "Editing user" %>

<h1>Editing user</h1>

<div class="row">
	
	<%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>
		<div class="col-sm-6">
		  <%= render 'layouts/error' %>

		  <div class="form-group">
		    <%= f.label :name, class: "control-label col-sm-4" %>
		    <div class="col-sm-8">
		      <%= f.text_field :name, class: "form-control", placeholder: "Login account", disabled: true %>
		    </div>
		  </div>

		  <div class="form-group">
		    <%= f.label :email, class: "control-label col-sm-4" %>
		    <div class="col-sm-8">
		      <%= f.text_field :email, class: "form-control", placeholder: "username@example.com" %>
		    </div>
		  </div>

		  <br>

		  <div class="form-group">
		    <div class="col-sm-offset-4 col-sm-8">
		      <%= f.submit "Submit", class: "btn btn-primary", :disable_with => 'Submiting...' %>
		      <%= link_to 'Back', users_path, class: "btn btn-link" %>
		    </div>
		  </div>
		</div>

		<div class="col-sm-6">
			<% if @user == current_user %>
				<br>
				<a href="<%= password_path %>" class="btn btn-success btn-lg col-sm-offset-2">Change password <i class="fa fa-arrow-circle-right"></i></a>
				<br>
			<% end %>
		</div>
	<% end %>
	
</div>

		

