<%= provide :title, "新建用户" %>

<h1 class="text-myBlue">新建用户</h1>

<%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>

  <div class="form-group">
    <%= f.label :name, "用户名",class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: "form-control", placeholder: "英文字母和数字的组合" %>
    </div>
    <div class="col-sm-4">
      <% if @user.errors[:name].any? %>
        <span class="help-block text-danger"><p class="text-danger"><%= @user.errors.full_messages_for(:name)[0] %></p></span>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, "邮箱", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :email, class: "form-control", placeholder: "username@example.com" %>
    </div>
    <div class="col-sm-4">
      <% if @user.errors[:email].any? %>
        <span class="help-block text-danger"><p class="text-danger"><%= @user.errors.full_messages_for(:email)[0] %></p></span>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :admin, "权限", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.select :admin, [["管理员", true], ["普通用户", false]], {}, class: "form-control" %>
    </div>
    <div class="col-sm-4">
      <% if @user.errors[:admin].any? %>
        <span class="help-block text-danger"><p class="text-danger"><%= @user.errors.full_messages_for(:admin)[0] %></p></span>
      <% end %>
    </div>
  </div>

  <div class="form-group">

    <%= f.label :password, "密码", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.password_field :password, class: "form-control", placeholder: "长度至少为6个字符" %>
    </div>
    <div class="col-sm-4">
      <% if @user.errors[:password].any? %>
        <span class="help-block text-danger"><p class="text-danger"><%= @user.errors.full_messages_for(:password)[0] %></p></span>
      <% end %>
    </div>

  </div>

  <div class="form-group">

    <%= f.label :password_confirmation, "确认密码", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div class="col-sm-4">
      <% if @user.errors[:password_confirmation].any? %>
        <span class="help-block text-danger"><p class="text-danger"><%= @user.errors.full_messages_for(:password_confirmation)[0] %></p></span>
      <% end %>
    </div>

  </div>

  <br>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.submit "提交", class: "btn btn-primary", data: { :disable_with => '正在提交...' } %>
      <%= link_to '返回', users_path, class: "btn btn-link" %>
    </div>
  </div>

<% end %>
