<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <%= favicon_link_tag 'towngas_logo.jpg' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ECOIT" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "ECOIT" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>

      <%= render 'layouts/navigation' %>
    
    </header>

    <main id="main" role="main">
      <div class="container">

        <%= render 'layouts/messages' %>
        <%= yield %>

      </div>
    </main>

    <%= debug(params) if Rails.env.development? %>

    <footer>
      <div class="container">

        <%= render 'layouts/footer' %>

      </div>
    </footer>

  </body>
</html>
